/*
    font-family: 'Damion', cursive;

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;
*/





* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 10px;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                     NAV                                    */
/* -------------------------------------------------------------------------- */

header {
    width: 100%;
    height: 3.5rem;
}
#logo {
    font-family: 'Damion', cursive;
    font-size: 2rem;
}
nav li, nav a {
    text-decoration: none;
    list-style: none;
    font-size: 1.1rem;
    color: black;
}
.innerNav li, #book {
    margin-right: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
nav {
    width: 100%;
}
#search i, #bag i {
    font-size: 1.3rem;
}
#book i {
    margin-right: .5rem;
}
.innerNav a:hover, #book a:hover {
    color: red;
}

/* -------------------------------------------------------------------------- */
/*                                  SECTION 1                                 */
/* -------------------------------------------------------------------------- */

.section1 {
    width: 100%;
    height: 100vh;
    background-image: url(https://github.com/stacksantos/100Devs-work/blob/main/Salon%20Website/images/salonImage.png?raw=true);
    background-position: center;
    background-size: cover;
}
.firstInnerSection {
    height: 90%;
    margin-top: 6rem;
}
.firstInnerSection1 {
    width: 40%;
    height: 70rem;
    padding: 5rem;
}
.firstInnerSection1 h1 {
    font-size: 9rem;
    font-family: 'Damion', cursive;
}
.firstInnerSection1 p {
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
}
.firstInnerSection1 button {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    width: 15rem;
    padding: 1rem;
    margin-top: 3rem;
    border: none;
}
.firstInnerSection1 button:hover {
    color: white;
    background-color: black;
    border: none;
}
.firstInnerSection1 i {
    margin-right: .5rem;
}
.firstInnerSection2 {
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 5rem;
    margin-left: 4.6rem;
}